
.page1{
   height: 344px;
   width: auto;
   display: block;
   margin-left: 460px;
   margin-right: 460px;
}

.online1{
    height: 610px;
    width: auto;
    display: block;
    
}
.download-btn{
    margin-left: 20px;
    height: 40px;
    background-color: red;
    text-align: center;
    color: white;
    font-weight: 700;
    width: 300px;
    border-radius: 20px;
    border-style: none;
    margin-bottom: 10px;
}

.download-btn:hover{
    opacity: 70%;
}





@media (max-width: 600px){
.page1{
   height: auto;
   width: auto;
   display: block;
   margin-left: 0px;
   padding: 0px;
   align-items: center;
   justify-content: center;
}

.online1{
    height: 720px;
    width: auto;
    display: block;
    
}
.download-btn{
    height: 40px;
    background-color: red;
    text-align: center;
    color: white;
    font-weight: 700;
    width: 300px;
    border-radius: 20px;
    border-style: none;
    margin-bottom: 10px;
    margin-left: 55px;
}

.video1{
    margin-left: 10px;
}
}
